jupyter2slides/static/img/*
jupyter2slides/static/data/*
Crawler/lockbit_out.log

Crawler/draft.py
Crawler/geckodriver-v0.24.0-linux64.tar.gz
Crawler/geckodriver.log
Crawler/lockbit.html
Crawler/new_link.html
Crawler/royal.html
Crawler/s.html
Crawler/Bing/__pycache__/__init__.cpython-38.pyc
Crawler/Bing/__pycache__/__init__.cpython-310.pyc
Crawler/Bing/__pycache__/BingPython.cpython-38.pyc
Crawler/Bing/__pycache__/BingPython.cpython-311.pyc
Crawler/Bing/__pycache__/example.cpython-38.pyc
Crawler/Bing/__pycache__/example.cpython-310.pyc
Crawler/driver/geckodriver-v0.32.2-linux32.tar.gz
